html, body {
	background-color: #ffffff;
	height: 100%
}

body {
	min-height: 100%;
	height: auto !important;
	/* color: #000000;	text-shadow: rgba(255, 255, 255, 0.5) 0 1px 3px; */
	background: url(../img/books.jpg) no-repeat left bottom fixed;
}

/* -- added by Kedar -- */
.magicFoot {
	bottom: 0;
	width: 100%;
	position: fixed;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}

.magicAlert {
	width: 25%;
	margin: auto;
	left: 0;
	right: 0;
	top: 25px;
	position: fixed;
	text-align: center;
	z-index: 1041;
}







/* Loading Div Starts here */
.magicBlur {
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	pointer-events: none;
}

#loadingDiv {
	width: 90px;
	height: 60px;
	padding-bottom: 20px;
	margin: auto;
	left: 0;
	right: 0;
	top: 25%;
	position: fixed;
	text-align: center;
	font-size: 10px;
	z-index: 1041;
}

#loadingDiv > span {
  background-color: #66355e;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

#loadingDiv .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

#loadingDiv .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

#loadingDiv .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

#loadingDiv .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

#loadingDiv .rect6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

#loadingDiv .rect7 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

#loadingDiv .rect8 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}